@font-face {
 font-family: 'Helveticaneuecyr Thin';
 src: url("fonts/helveticaneuecyr-thin.otf");
}
@font-face {
 font-family: 'Helveticaneuecyr Light';
 src: url("fonts/helveticaneuecyr-light.otf");
}
@media screen and (max-width: 540px) {
	.container-fluid {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#image { 
		padding: 30px 0 !important; 
	}
}
@media screen and (max-width: 480px) {
	#image img {
		width: 100% !important;
		height: auto !important;
	}
	.glyphicon-volume-off { margin-left: 0 !important; }
	.volumeControl 
	{
	    display: block !important;
    	padding-top: 30px !important;
    }
}

body {
	font-family: 'Helveticaneuecyr Light';
}
#Play {
	font-size: 40px;
	width: 80px;
	height: 80px;
	padding-top: 18px;
    padding-left: 12px;
}
#Stop {
	font-size: 40px;
	width: 80px;
	height: 80px;
	padding-left: 14px;
	padding-top: 18px;
}
#controls { text-align: center; }
#image {
	text-align: center;
	padding:30px 20px;
}
#image img {
	width: 500px;
	height: 500px;
}
.common-icons {
	text-align: center;
}
.common-bottom {
	vertical-align: bottom;
	font-size: 40px;
}
.common-bottom:hover {
	cursor: pointer;
	color: #000;
}
.glyphicon-volume-off {
	margin-left: 60px;
	margin-right: 10px;
}
.glyphicon-volume-up {
	margin-left: 10px;
}
#ex1Slider {
	vertical-align: bottom;
	display: inline-block;
    margin-bottom: 10px;
    width: 180px;
}
.slider-handle {
	background-color: #333333 !important;
	background-image: none !important; 
}
.slider-handle:hover {
	cursor: pointer;
	background-color: #000;
}
.unactive {
	color: #e6e6e6;
}
.unactive:hover {
	color: #e6e6e6 !important;
}
.songInfo {
    font-weight: bold;
    color: #444;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background-color: currentColor;
    padding: 16px 20px;
    opacity: .9;
    height: 100px;
}
.newWindow_link {
	font-size: 1.1em;
    position: absolute;
    top: 30px;
    margin-left: -250px;
    background-color: #444;
    color: #e6e6e6;
    padding: 5px 10px 5px 10px;
    height: 30px;
    left: 50%;
    width: 500px;
    font-family: sans-serif;
    opacity: 0.9;
}
.newWindow_link:hover {
	opacity: 1;
	cursor: pointer;
}
.songInfo__group {
	font-size: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
}
.songInfo__album {
	font-size: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
}
.songInfo__song {
	font-family: "Helveticaneuecyr Thin";
	padding: 0 5px 5px 5px;
	font-size: 1em;
    color: #e6e6e6;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	font-weight: normal;
}
.volumeControl {
	display: inline-block;
	vertical-align: bottom;
}