#Play {
	font-size: 40px;
	width: 80px;
	height: 80px;
	padding-top: 14px;
    padding-left: 16px;
}

#Stop {
	font-size: 40px;
	width: 80px;
	height: 80px;
	padding-left: 17px;
	padding-top: 14px;
}
#controls, #image { text-align: center; }
.common-icons {
	text-align: center;
}
.meny {
   
}
.common-bottom {
	vertical-align: bottom;
	font-size: 40px;
}
.common-bottom:hover {
	cursor: pointer;
	color: #000;
}
.glyphicon-volume-off {
	margin-left: 60px;
	margin-right: 10px;
}
.glyphicon-volume-up {
	margin-left: 10px;
}
#ex1Slider {
	vertical-align: bottom;
	display: inline-block;
    margin-bottom: 10px;
    width: 180px;
}
.slider-handle {
	background-color: #333333 !important;
	background-image: none !important; 
}
.slider-handle:hover {
	cursor: pointer;
	background-color: #000 !important;
}
.unactive {
	color: #e6e6e6;
}
.songInfo {
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 430px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background-color: currentColor;
    padding: 20px;
    opacity: .9;
    height: 100px;
}
.newWindow_link {
    position: absolute;
    top: 30px;
    margin-left: -250px;
    background-color: #444;
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
    height: 30px;
    left: 50%;
    width: 500px;
}